{{- if and (hasKey . "onepassword") .onepassword.enabled }}
set -gx DYNAMO_OP_ENV_FILE $HOME/.config/dynamo/dev.env.op
{{- else }}
# 1Password integration disabled. Enable in ~/.config/chezmoi/chezmoi.yaml:
#   data:
#     onepassword:
#       enabled: true
{{- end }}
