# Git configuration - Dynamo team setup

[user]
    name = {{ .name | default "Your Name" }}
    email = {{ .email | default "your.email@company.com" }}
{{- if and (hasKey . "onepassword") .onepassword.ssh_agent .onepassword.signing_key }}
    signingkey = {{ .onepassword.signing_key | quote }}
{{- end }}

[core]
    editor = hx
    autocrlf = input
    safecrlf = true
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = "main"

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = current

[rebase]
    autostash = true

[merge]
    tool = hx
    conflictstyle = diff3

[diff]
    algorithm = histogram
    colorMoved = default

[log]
    date = relative

[format]
    pretty = format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%an %ar)%Creset

[alias]
    # Team-standard aliases
    st = status
    co = checkout
    br = branch
    ci = commit
    df = diff
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

    # Useful shortcuts
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = !gitk

    # Branch management
    delete-merged = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
{{- if and (hasKey . "onepassword") .onepassword.ssh_agent }}

[url "git@github.com:"]
    insteadOf = "https://github.com/"

[gpg]
    format = ssh

[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}
{{- if .onepassword.signing_key }}
    allowedSignersFile = ~/.ssh/allowed_signers
{{- end }}

[commit]
    gpgsign = true
{{- end }}
