{{- if and (hasKey . "onepassword") .onepassword.enabled .onepassword.secrets -}}
# Secret references for on-demand 1Password environment injection.
# Use: op run --env-file ~/.config/dynamo/dev.env.op -- <command>
{{- range $key, $ref := .onepassword.secrets }}
{{ $key | upper }}={{ $ref }}
{{- end }}
{{- else -}}
# 1Password integration is disabled for this machine.
# Enable data.onepassword.enabled in ~/.config/chezmoi/chezmoi.yaml to populate references.
{{- end }}
